.header {
    min-width: 85vw;
    max-width: 85vw;
    min-height: 15vh;
    background-color: white;
    padding: 12px;
}
.header__navigation {
    margin: auto;
}

.body__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 16px auto;
}
